.sachmatai > div {
    width: 50px; /* Adjust the width */
    height: 50px; /* Adjust the height */
    margin: 5px; /* Adjust margins as needed */
    padding: 4px;
    background-color: #92C47D;
    text-align: center;
    border: solid;
}


.sachmatai {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3px;
    place-items: center;
    max-height: 400px; /* Set a max height as needed */
    overflow-y: auto; /* Add a vertical scrollbar if content exceeds max height */

}

.sachmatai > div:nth-of-type(odd) {
    background-color: #666666;
}

.sachmatai > div:nth-of-type(4n+2) {
    background-color: #A2C4C8;
}

.sachmatai > div:nth-of-type(2n+16) {
    background-color: #F4CCCC;
}

.sachmatai > div:hover {
    background-color: lightcoral;
    transform: scale(1.1); /* Scale up the div on hover */
}