#logo{
  width: 100px;
  object-fit: cover;
  margin: 0;
  padding: 0;
  justify-self: center;
}

.ad, .calendar{
width: 100px;
object-fit: contain;
}
.mainHeader{
  margin: 10px;
  padding: 5px 10px; /* Adjust the padding to control the space between text and border */
  border: 5px outset #666; /* Border style and color */
  border-radius: 5px; /* Rounded corners for the border */
  max-width: 100%;
  inline-size: fit-content;
  justify-self: center;
  background: goldenrod;
}

.centerContent{
  border-style: dashed;
  background-color: #FEDDBD;
  overflow: auto;
  color: #1B303F;
  position: relative;
  margin: 5px;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center;
}

a{
color: #FEDDBD;
}

body{
background-color: dimgray;
color: white;
}


header{
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
}

main{
  grid-area: mid;
}
.leftSide{
grid-area: left;
}
.rightSide{
grid-area: right;
}

footer{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-area: foot;
  place-items: center;
}

body{
  max-width: 1000px;
  height: 200px;
  display: grid;
  grid-gap: 10px;
  place-items: center;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-rows: 2fr 10fr 2fr;
  grid-template-areas:
    "header header header"
    "left mid right"
    "foot foot foot";
}

.sachmatai > div:hover {
  background-color: lightcoral;
  transform: scale(1.1); /* Scale up the div on hover */
}
.hidden {
  display: none;
}

#resolution-display {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  font-size: 14px;
}

.menu{
  list-style: none;
  background-color: #333;
  padding: 50px;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  position: absolute;
}
li{
  padding: 2px;
}

#menuButton, #contentButton, #megstami, #save, #searchBtn {
  background: goldenrod;;
  border: dimgray outset;
  width: 125px;
  height: 35px;
  font-family: cursive;
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  text-align: center; /* Center text within the container */
  position: relative;
  color: whitesmoke;
  font-size: medium;
  cursor: url(https://cur.cursors-4u.net/others/oth-5/oth435.cur), auto
}

.leftSide, .rightSide, main{
  align-self: start;
}

#chuckJokes{
  grid-area: mid;
  background: darkslategray;
  color: whitesmoke;
  list-style: none;
  border: outset 2px saddlebrown;
  padding: 10px;
  max-height: 350px; /* Set a max height as needed */
  overflow-y: auto; /* Add a vertical scrollbar if content exceeds max height */
}

.juokelisContent, .menu{
  background: darkslategray;
  border: outset 2px saddlebrown;
}

#chuckCategories{
  list-style: none;
  height: 400px;
  max-height: 400px;
  overflow-y: auto;
  margin-left: -35px;
}

#chuckCategories>li{
  border: outset 2px saddlebrown;
}
.searchBox, #labas{
  display: grid;
  place-items: center;
}
#search{
  padding: 2px;
  margin: 10px;
}
#chuckJokes>li>span{
  font-size: 30px;
  cursor: url(https://cur.cursors-4u.net/others/oth-5/oth435.cur), auto
}

#chuckJokes>li>span:hover{
  font-size: 50px
}
/*#chuckJokes>button{*/
/*  background: goldenrod;;*/
/*  border: dimgray outset;*/
/*  width: 110px;*/
/*  height: 25px;*/
/*  font-family: cursive;*/
/*  justify-content: center; !* Horizontally center the content *!*/
/*  align-items: center; !* Vertically center the content *!*/
/*  text-align: center; !* Center text within the container *!*/
/*  color: whitesmoke;*/
/*  font-size: medium;*/
/*}*/

