p:nth-child(odd):not(#specialus){
font-family: Verdana, sans-serif;
font-weight: bold;
color: red;
}

#specialus{
color:orange;
font-family: Garamond, sans-serif;
}

.mainHeader, .searchBox{
vertical-align: middle;
display: inline-block;
}

#logo{
text-align: left;
vertical-align: middle;
width: 10%;
}

.mainHeader{
margin: 20px;
font-size: 30px;
text-align: center;
width: 50%;
border-style: outset;
}

.searchBox{
display: inline-block;
width: 20%;
}

.leftSide{
vertical-align: middle;
display: inline-block;
text-align: left;
width: 15%;
}

.centerContent{
border-style: dashed;
background-color: #FEDDBD;
vertical-align: middle;
display: inline-block;
text-align: center;
width: 50%;
}

.rightSide
{
vertical-align: middle;
display: inline-block;
width: 25%;
}

.calendar, .ad{
width: 40%;
}

footer, header, main{
text-align: center;
}

h3{
font-weight: bold;
width: 90%
}

a{
color: #FEDDBD;
}

body{
background-color: #1B303F;
color: white;
}

.centerContent{
color: #1B303F;
}

